
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #133251;
    
    font-family: 'Arial', sans-serif;
}


.calculator {
    background-color: #ecf0f1;
    padding: 25px;
    border-radius: 25px;
    
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    width: 340px;
}


#display {
    width: 100%;
    height: 80px;
    font-size: 45px;
    text-align: right;
    margin-bottom: 25px;
    border: none;
    background-color: #30c0b1;
    
    color: #ecf0f1;
    
    border-radius: 15px;
    padding-right: 20px;
    box-sizing: border-box;
    
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3);
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}




button {
    padding: 20px;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    
    top: 0;
    
    transition: all 0.1s ease;
    

    
    background-color: #f9f9f9;
    
    color: #2c3e50;
    
    box-shadow: 0px 6px 0px #bdc3c7;
}


button:active {
    top: 6px;
    
    box-shadow: 0px 0px 0px #bdc3c7;
    
}



.operator {
    background-color: #f1c40f;
    
    color: white;
    
    box-shadow: 0px 6px 0px #bd9b0c;
}


.operator:active {
    top: 6px;
    box-shadow: 0px 0px 0px #bd9b0c;
}



.equal {
    background-color: #e74c3c;
    
    color: white;
    
    box-shadow: 0px 6px 0px #c0392b;
}


.equal:active {
    top: 6px;
    box-shadow: 0px 0px 0px #c0392b;
}

